/.vscode
/vendor
/test/file/test.file
/test/file/callbacktest.file
/test/redis/test.redis
/test/redis/callbacktest.redis
/test/memcache/test.memcache
/test/memcache/callbacktest.memcache
/test/memcached/test.memcached
/test/memcached/callbacktest.memcached
